*{margin: 0; padding: 0; box-sizing: border-box;}
#button{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
background-color: #000000;
color: white;
padding-left: 30px;
padding-top: 10px;
padding-bottom: 25px;
padding-right: 10px;
height:40vh;
row-gap: 20px;
}
#button div{
    cursor: pointer;
}
#mainbox{
    width: 30%;
    /* height: 90%; */
    margin-left: 25%;
    margin-top: 40px;
    border: 2px solid yellow;
}
#screen{
    width: 100%;
    height: 50px;
    border: 2px solid gold;
    text-align: right;
}
